In [1]:
import json
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data2.csv')

In [4]:
df.to_json("data2.json")

In [5]:
temp = pd.read_json("data2.json")

In [7]:
df

         date   close    open
0    1-May-12   68.13   34.12
1   30-Apr-12   63.98   45.56
2   27-Apr-12   67.00   67.89
3   26-Apr-12   89.70   78.54
4   25-Apr-12   99.00   89.23
5   24-Apr-12  130.28   99.23
6   23-Apr-12  166.70  101.34
7   20-Apr-12  234.98  122.34
8   19-Apr-12  345.44  134.56
9   18-Apr-12  443.34  160.45
10  17-Apr-12  543.70  180.34
11  16-Apr-12  580.13  210.23
12  13-Apr-12  605.23  223.45
13  12-Apr-12  622.77  201.56
14  11-Apr-12  626.20  212.67
15  10-Apr-12  628.44  310.45
16   9-Apr-12  636.23  350.45
17   5-Apr-12  633.68  410.23
18   4-Apr-12  624.31  430.56
19   3-Apr-12  629.32  460.34
20   2-Apr-12  618.63  510.34
21  30-Mar-12  599.55  534.23
22  29-Mar-12  609.86  578.23
23  28-Mar-12  617.62  590.12
24  27-Mar-12  614.48  560.34
25  26-Mar-12  606.98  580.12

In [9]:
date = df['date']
close = df['close']
open = df['open']

In [34]:
data = {'2011':{'date':date.tolist(), 
                'close':close.tolist(), 
                'open':open.tolist()
               },
       '2012':{'date':date.tolist(), 
               'close':close.tolist(), 
               'open':open.tolist()
              }
       }

In [35]:
a = json.dumps(data)

In [38]:
a

'{"2011": {"date": ["1-May-12", "30-Apr-12", "27-Apr-12", "26-Apr-12", "25-Apr-12", "24-Apr-12", "23-Apr-12", "20-Apr-12", "19-Apr-12", "18-Apr-12", "17-Apr-12", "16-Apr-12", "13-Apr-12", "12-Apr-12", "11-Apr-12", "10-Apr-12", "9-Apr-12", "5-Apr-12", "4-Apr-12", "3-Apr-12", "2-Apr-12", "30-Mar-12", "29-Mar-12", "28-Mar-12", "27-Mar-12", "26-Mar-12"], "close": [68.13, 63.98, 67.0, 89.7, 99.0, 130.28, 166.7, 234.98, 345.44, 443.34, 543.7, 580.13, 605.23, 622.77, 626.2, 628.44, 636.23, 633.68, 624.31, 629.32, 618.63, 599.55, 609.86, 617.62, 614.48, 606.98], "open": [34.12, 45.56, 67.89, 78.54, 89.23, 99.23, 101.34, 122.34, 134.56, 160.45, 180.34, 210.23, 223.45, 201.56, 212.67, 310.45, 350.45, 410.23, 430.56, 460.34, 510.34, 534.23, 578.23, 590.12, 560.34, 580.12]}, "2012": {"date": ["1-May-12", "30-Apr-12", "27-Apr-12", "26-Apr-12", "25-Apr-12", "24-Apr-12", "23-Apr-12", "20-Apr-12", "19-Apr-12", "18-Apr-12", "17-Apr-12", "16-Apr-12", "13-Apr-12", "12-Apr-12", "11-Apr-12", "10-Apr-12", "9-Apr-12", "5-Apr-12", "4-Apr-12", "3-Apr-12", "2-Apr-12", "30-Mar-12", "29-Mar-12", "28-Mar-12", "27-Mar-12", "26-Mar-12"], "close": [68.13, 63.98, 67.0, 89.7, 99.0, 130.28, 166.7, 234.98, 345.44, 443.34, 543.7, 580.13, 605.23, 622.77, 626.2, 628.44, 636.23, 633.68, 624.31, 629.32, 618.63, 599.55, 609.86, 617.62, 614.48, 606.98], "open": [34.12, 45.56, 67.89, 78.54, 89.23, 99.23, 101.34, 122.34, 134.56, 160.45, 180.34, 210.23, 223.45, 201.56, 212.67, 310.45, 350.45, 410.23, 430.56, 460.34, 510.34, 534.23, 578.23, 590.12, 560.34, 580.12]}}'

In [43]:
f = open('sample.json', 'w')
print >> f, a
f.close()

TypeError: 'Series' object is not callable